<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} BlockPost {% endblock %}</title>
</head>
<body>
<h1>Blog-Post</h1>
{% if request.user.is_authenticated %}
<p>Hallo {{request.user.username}}!</p>
<a href="{% url 'web:logout' %}">Logout</a>
{% else %}
<a href="{% url 'web:login' %}">Login</a>
<a href="{% url 'web:register' %}">register</a>
{% endif %}
{% block authForm %}


{% endblock %}
</body>
<style>
    .Buttons{
        background-color: #262626;
    }
</style>
</html>